body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.addForm {
  margin: 10px;
  text-align: center
}

.card-component:hover {
  background-color: yellow;
}

.card-component {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #755959;
}

.card-title {
  text-align: start;
}

.card-details {
  font-size: 12px;
  text-align: start;
  padding: 10px;
}